@import url('https://cdn.staticdelivr.com/gfonts/css2?family=Fira+Code:wght@300..700&display=swap');

:root {
  --background: #1a170f;
  --foreground: #eceae5;
  --accent: #32858b;
  --font-size: 1rem;
  --line-height: 1.54em;
  --radius: 0;
}
